body {
  background-color: #DD2D4A;
  color:#FFFFFF;
  font-size: 18px;
  font-family: century;
  text-align: center;

}
a {
  color:#880D1E;
  text-decoration: none;
}
a:hover {
  color:#DD2D4A;
  text-decoration: none;
}
div {
  width: 50vw;
  height: 50vh;
}
