* {
  background-color: #111311;
  font-family: factoria, serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #EDFE57;
}
h1 {
  font-size: 50px;
  margin: 3px;
  background-color: transparent;

}
h3 {
  font-size: 32px;
  margin: 20px auto;
}
hr {
  border: 2px dashed #F8F7E5;
  width: 250px;
  margin: 15px auto;
}
/* divs n things */
.col {
  width: 25%;
  height: auto;
  float: left;
  display: flow-root;
}
.header {
  width: 250px;
  height: 250px;
  border: 3px dashed #F8F7E5;
  margin: 30px auto;
  padding: 85px 0;
  box-sizing: border-box;
  background-color: rgba(2, 8, 135, 0.5);
}
/* images */
img {
  max-width: 95%;
  height: auto;
  padding: 5px;
}
/* media */
@media screen and (max-width:900px) {
  .col {
    width: 50%;
  }
}
@media screen and (max-width:600px) {
  .col {
    width: 100%;
  }
}
